.how-it-works
  .how-it-works__blue-glitter.lazyBg(data-bg="url('static/images/general/blue-glitter.png')")
  .container
    .how-it-works__content
      h2.how-it-works__title.futpt-demi-50-55 <span class="em-blue">Как работает</span> система управления печатью?
      .how-it-works__items
        .how-it-works__item
          .how-it-works-item.how-it-works-item--1
            .how-it-works-item__arc.how-it-works-item__arc--1
              +icon('arc1')
            .how-it-works-item__img-block
              img(data-src="static/images/general/how-it-works/sysblock_1x.jpg").lazyBg
            .how-it-works-item__text-content
              .how-it-works-item__count 01
              h3.how-it-works-item__heading.futpt-demi-24-31-tuna Разворачиваем программное обеспечение <br>на вашем физическом <br>или облачном сервере
              p.how-it-works-item__descr.futpt-normal-18-25.futpt-normal-18-25--tuna Если у Вас нет сервера, <br>мы поможем выбрать <br>и приобрести подходящий сервер
        .how-it-works__item
          .how-it-works-item.how-it-works-item--2
            .how-it-works-item__arc.how-it-works-item__arc--2
              +icon('arc2')
            .how-it-works-item__img-block
              img(data-src="static/images/general/how-it-works/threepaper_x1.jpg").lazyBg
            .how-it-works-item__text-content
              .how-it-works-item__count 02
              h3.how-it-works-item__heading.futpt-demi-24-31-tuna Задаем политики <br>и правила печати <br>для документов и пользователей
              p.how-it-works-item__descr.futpt-normal-18-25.futpt-normal-18-25--tuna Благодаря им многостраничные задания отправятся на производительные принтеры, а электронные письма принудительно будут напечатаны в экономном режиме.
        .how-it-works__item
          .how-it-works-item.how-it-works-item--3
            .how-it-works-item__ballon.futpt-normal-18-25-tuna(data-aos="fade-up" data-aos-easing="ease-in-out-back") <b>Мы ставим новое удобное меню</b> на устройство, что позволяет пользователям тратить в 10 раз меньше на привычные функции печати.
            .how-it-works-item__arc.how-it-works-item__arc--3
              +icon('arc3')
            .how-it-works-item__img-block
              .how-it-works-item__aside-info
                span.futpt-demi-18-25-tuna Сергей Иванов
                span Менеджер по покупкам
              img(data-src="static/images/general/how-it-works/xerox_x1.jpg").lazyBg
            .how-it-works-item__text-content
              .how-it-works-item__count 03
              h3.how-it-works-item__heading.futpt-demi-24-31-tuna Пользователь прикладывает карту доступа, чтобы сработали политики и правила
              p.how-it-works-item__descr.futpt-normal-18-25.futpt-normal-18-25--tuna Устройство даст напечатать документ только согласно заданным этому пользователю правам и правилам печати документа
        .how-it-works__item
          .how-it-works-item.how-it-works-item--4
            .how-it-works-item__arc.how-it-works-item__arc--4
              +icon('arc4')
            .how-it-works-item__img-block
              .how-it-works-item__aside-info
                span.futpt-demi-18-25-tuna Сергей Иванов
                span Менеджер по покупкам
              img(data-src="static/images/general/how-it-works/hiw-sheet_x1.jpg").lazyBg
            .how-it-works-item__text-content
              .how-it-works-item__count 04
              h3.how-it-works-item__heading.futpt-demi-24-31-tuna Пользователь может печатать документы только согласно заданным политикам и правилам
              p.how-it-works-item__descr.futpt-normal-18-25.futpt-normal-18-25--tuna Например, менеджер по закупкам Сергей, может распечатывать только 5 типов документов на конкретных устройствах в черно-белом варианте и на обеих сторонах печати.
  .how-it-works__last-item
    .how-it-works__background
    .container
      .how-it-works__li-content
        .how-it-works-item__lb-count.futpt-demi-50-55.futpt-demi-50-55--white 05
        h3.how-it-works-item__lb-heading.futpt-demi-50-55.futpt-demi-50-55--white Вы получаете отчеты <br>по всем обращениям <br>к устройству
        p.how-it-works-item__lb-descr.futpt-normal-24-34 В программе есть система уведомлений, <br>позволяющая рассылать по email отчеты <br>о печати, заводить и закрывать заявки
        .how-it-works__note.hiw-note
          .hiw-note__icon
            +icon('postit')
          p.hiw-note__text.futpt-normal-18-25 Вы всегда знаете, какие документы печатал сотрудник и сколько это стоило компании. Напечатать что-либо в тайне невозможно.
        .how-it-works__notik
          .hiw-notik
            .hiw-notik__image-bg.lazyBg(data-bg="url('static/images/general/how-it-works/hiw-notik.png')")
            .hiw-notik__note.futpt-normal-18-25-tuna(data-aos="fade-left" data-aos-easing="ease-in-out-back") <b>Более 60 разных отчётов</b> <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.