include ../buttons/buttons

.routing
  h1.routing__heading.futpt-medium-60-66 Мы получили вашу <br>заявку и в скором времени <br>свяжемся с вами
  p.routing__text.futpt-normal-18-25 Узнайте больше о системах управления печатью на <br>нашем информационном сайта
  ul.routing__buttons.routing__buttons--ty
    li.routing__button
      +turquoise-btn-72('узнать больше', 'routing-ty-more', '#')
  .routing__all
    a(href="all.html").routing__all-link.futpt-normal-18-25 Вернутся на предыдущую страницу