.hiw-notik {
  position: relative;

  @media (max-width: 560px) {
    padding-top: 368px;
  }

  @media (max-width: 360px) {
    padding-top: 250px;
  }

  &__image-bg {
    background-repeat: no-repeat;
    background-size: contain;
    width: 742px;
    height: 618px;

    @media (max-width: 1350px) {
      width: 385px * (742/618);
      height: 385px;
    }

    @media (max-width: 560px) {
      position: absolute;
      top: 0;
      left: -26px;
    }

    @media (max-width: 360px) {
      width: 300px * (742/618);
      height: 300px;
    }
  }

  &__note {
    position: absolute;
    top: 258px;
    left: -41px;
    z-index: 20;

    max-width: 326px;
    padding: 26px 21px 34px 34px;
    background: $white;
    box-shadow: 0px 0px 80px rgba(47, 112, 205, 0.12);
    border-radius: 10px;

    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      background-color: $white;
      border-radius: 2px;
      transform: rotate(45deg);
      right: 53px;
      top: -6px;
    }

    @media (max-width: 950px) {
      top: 280;
      left: 0;
    }

    @media (max-width: 560px) {
      position: relative;
      top: 0;
      left: 0;
    }

    @media (max-width: 360px) {
      padding: 16px;
    }
  }
}