.top-line
  .top-line__logo
    include ../header-logo/header-logo
  .top-line__navigation
    include ../head-nav/head-nav
  .top-line__phone
    include ../head-phone/head-phone
  .top-line__mobile-nav
    include ../burger/burger