.top-line-main
  .top-line-main__logo
    include ../header-logo/header-logo
  .top-line-main__navigation
    include ../head-nav/head-nav-main
  .top-line-main__phone
    include ../head-phone/head-phone
  .top-line-main__mobile-nav
    include ../burger/burger