.why-trust-item {
  display: flex;

  &__icon {
    flex: 0 0 76px;
    width: 76px;
    height: 76px;
    border: 1px solid #E8EEFF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 30px;

    .icon-long-check {
      fill: $royal-blue;
      width: 19px;
      height: 14px;
    }
  }

  &__text {
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333333;

    max-width: 320px;

    b {
      font-family: 'Futura PT Demi';
      font-weight: 500;
    }
  }

  &__logo {
    width: 88px;
    height: 49px;
    background-size: 100%;
    margin-left: 108px;
  }
}