include ../buttons/buttons

.head-nav
  nav.head-nav__nav
    ul.head-nav__list
      li.head-nav__item
        a(href="#how-it-works").head-nav__link Как это работает?
      li.head-nav__item
        a(href="#projects").head-nav__link Проекты
      li.head-nav__item
        a(href="#solutions").head-nav__link Решения
      li.head-nav__item
        a(href="#about").head-nav__link О компании
  .head-nav__free-test-btn
    +faint-border-btn('Бесплатный тест', 'free-test')