.next-step-card {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 24px 48px rgba(76, 103, 134, 0.1);
  padding: 4px 26px 0;
  width: (360/1200)*100%;
  text-align: center;
  min-height: 494px;

  display: flex;
  flex-direction: column;

  @media (max-width: 950px) {
    width: 47%;
    margin: 0 10px;
    margin-top: 250px;
  }

  @media (max-width: 750px) {
    width: auto;
    max-width: 320px;
    padding: 4px 22px 0;
  }

  @media (max-width: 400px) {
    margin: 0;
    margin-top: 225px;
    max-width: 100%;
    min-height: auto;
  }

  &__pic {
    margin: 0 auto;
    margin-top: -200px;

    @media (max-width: 400px) {
      margin-top: -176px;
    }
  }

  &__img-wrapper {
    position: relative;
  }

  &__pic--1, &__pic--2 {
    width: (300/308)*100%;

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  @media (max-width: 400px) {
    &__pic--2 {
      margin-top: -126px;
    }
  }


  &__pic--3 {
    box-shadow: 0px 0px 48px rgba(76, 103, 134, 0.2);
    width: (200/308)*100%;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -136px;
    margin-bottom: 36px;
  }

  &__pic--1 &__img-wrapper,
  &__pic--2 &__img-wrapper {
    padding-top: 100%;
  }

  &__pic--3 &__img-wrapper {
    padding-top: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &__title {
    font-family: 'Futura PT Demi';
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #333333;

    margin-bottom: 35px;

    @media (max-width: 400px) {
      font-size: 20px;
      margin-bottom: 45px;
    }
  }

  &__text {
    padding: 0 6px;

    @media (max-width: 1100px) {
      br {display: none}
    }

    @media (max-width: 400px) {
      margin-bottom: 60px;
    }
  }

  &__btn {
    margin-top: auto;
    margin-bottom: -35px;
  }
}