.next-step {
  padding-top: 130px;

  &__title {
    max-width: 678px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 720px) {
      br {display: none}
      padding: 0 28px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    padding-top: 236px;

    @media (max-width: 950px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0;
    }

    @media (max-width: 750px) {
      max-width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

@import "next-step-card";