.footer {
  padding-top: 365px;
  background: url('../images/general/footer-bg.svg') center bottom / 1920px auto no-repeat;

  &__title {
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  &__subtitle {
    max-width: 567px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__middle-line {
    display: flex;
  }

  &__map {
    flex: 0 0 (793/1200)*100%;
    width: (793/1200)*100%;
    height: 483px;
    background-color: #7a7a7a;
  }

  &__info {
    flex: 1 1 auto;
    margin-left: (35/1200)*100%;

    display: flex;
    flex-direction: column;
  }

  &__address-block {
    margin-bottom: 42px;
  }

  &__address {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__phone-block {
    margin-left: 26px;
  }

  &__additional-info {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 160%;
    font-weight: normal;
    color: $white;
    margin-top: auto;
    margin-left: 32px;
  }
}


// Footer Address
.footer-address {
  display: flex;

  &__icon {
    margin-top: 8px;
    margin-right: 14px;

    .icon-map-pin {
      width: 16px;
      height: 18px;
      fill: #47D1F2;
    }

    .icon-clock {
      width: 16px;
      height: 16px;
      fill: #47D1F2;
    }
  }
}

// Phone block
.phone-block {
  position: relative;
  padding-left: 84px;


  &__phone-icon {
    position: absolute;
    top: -4px;
    left: 0;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contacts {

  }

  &__phone {
    &:hover {text-decoration: underline;}
    font-family: 'Futura PT Demi';
    font-weight: 500;
    font-size: 22px;
    line-height: 138.5%;
    color: $white;
    vertical-align: middle;
    display: inline;

    span {
      font-family: 'Futura PT Book';
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      vertical-align: middle;
    }
  }

  &__mail {
    &:hover {text-decoration: underline;}
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: $white;
    display: block;
  }
}

// Bottom Line
.footer-bottom-line {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-size: 14px;
  line-height: 140%; // 20px
  color: $white;

  display: flex;
  justify-content: space-between;

  // min-height: 82px;
  padding: (82px - 20px)/2 0;

  a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    &:hover {text-decoration: underline;}
  }
}