.footer {
  padding-top: 365px;
  background: url('../images/general/footer-bg.svg') center bottom / 1920px auto no-repeat;

  @media (max-width: 950px) {
    background: url('../images/general/footer-bg.svg') center bottom / 2430px auto no-repeat;
  }

  @media (max-width: 400px) {
    padding-top: 205px;
    background: url('../images/general/footer-bg.svg') center bottom / 2410px auto no-repeat;
  }

  &__title {
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 28px;

    @media (max-width: 400px) {
      padding: 0 6px;
      margin-bottom: 23px;
    }
  }

  &__subtitle {
    max-width: 567px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;

    @media (max-width: 400px) {
      br {display: none}
      margin-bottom: 42px;
    }
  }

  &__middle-line {
    display: flex;

    @media (max-width: 950px) {
      display: block;
    }
  }

  &__map {
    flex: 0 0 (793/1200)*100%;
    width: (793/1200)*100%;
    height: 483px;
    background-color: #7a7a7a;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 560px) {
      height: 300px;
    }

    @media (max-width: 400px) {
      height: 194px;
    }
  }

  &__info {
    flex: 1 1 auto;
    margin-left: (35/1200)*100%;

    display: flex;
    flex-direction: column;

    @media (max-width: 950px) {
      padding-top: 20px;
      margin-left: 0;
    }

    @media (max-width: 400px) {
      padding-top: 58px;
    }
  }

  &__address-block {
    margin-bottom: 42px;
  }

  &__address {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__phone-block {
    margin-left: 26px;

    @media (max-width: 950px) {
      margin-left: 0;
      margin-bottom: 20px;
    }

    @media (max-width: 400px) {
      margin-bottom: 40px;
    }
  }

  &__additional-info {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 160%;
    font-weight: normal;
    color: $white;
    margin-top: auto;
    margin-left: 32px;

    @media (max-width: 950px) {
      margin-left: 0;
    }
  }
}


// Footer Address
.footer-address {
  display: flex;

  &__icon {
    margin-top: 8px;
    margin-right: 14px;

    .icon-map-pin {
      width: 16px;
      height: 18px;
      fill: #47D1F2;
    }

    .icon-clock {
      width: 16px;
      height: 16px;
      fill: #47D1F2;
    }
  }
}

// Phone block
.phone-block {
  position: relative;
  padding-left: 84px;

  @media (max-width: 400px) {
    padding-top: 4px;
  }

  &__phone-icon {
    position: absolute;
    top: -4px;
    left: 0;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__phone {
    &:hover {text-decoration: underline;}
    font-family: 'Futura PT Demi';
    font-weight: 500;
    font-size: 22px;
    line-height: 138.5%;
    color: $white;
    display: inline;

    span {
      font-family: 'Futura PT Book';
      font-weight: normal;
      font-size: 14px;
      line-height: 138.5%;
    }

    @media (max-width: 400px) {
      font-size: 18px;
    }
  }

  &__mail {
    &:hover {text-decoration: underline;}
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: $white;
    display: block;
  }
}

// Bottom Line
.footer-bottom-line {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-size: 14px;
  line-height: 140%; // 20px
  color: $white;

  display: flex;
  justify-content: space-between;

  // min-height: 82px;
  padding: (82px - 20px)/2 0;

  @media (max-width: 560px) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 72px 0 44px 3px;
  }

  a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    &:hover {text-decoration: underline;}
  }

  a, span {
    @media (max-width: 560px) {
      display: block;
      margin-bottom: 7px;
    }
  }

  span {
    @media (max-width: 560px) {
      order: -1;
    }
  }
}