.input-field {
  cursor: auto;
  background-color: transparent;
  width: 100%;

  font-family: 'Futura PT Book';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;

  padding-left: 40px;

  @media (max-width: 400px) {
    padding-left: 24px;
  }

  &.input-field--simple-border {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }


  &.input-field--white {
    color: $white;

    @include placeholder() {
      color: $white;
    }
  }

  &.input-field--64 { // on line-height 24px
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &.input-field--gbold {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;

    @include placeholder() {
      font-family: 'Gilroy';
      font-weight: 800;
      font-size: 16px;
      line-height: 26px;
    }
  }
}