.popup-accept-conf
  label.popup-accept-conf__ac-label
    input(type="checkbox" name="accept-conf" checked).popup-accept-conf__ac-checkbox
    .popup-accept-conf__ac-icon.popup-accept-conf__ac-icon--unchecked
      +icon('white-checkbox')
    .popup-accept-conf__ac-icon.popup-accept-conf__ac-icon--checked
      +icon('white-checkbox-checked')
    span Согласен с Политикой конфиденциальности сайта