.get-audit {
  position: relative;
  padding: 80px;
  width: 100%;

  background: $white;
  box-shadow: 0 0 80px rgba(47, 112, 205, 0.12);
  border-radius: 20px;

  @media (max-width: 768px) {
    //position: static;
  }

  @media (max-width: 400px) {
    padding: 37px 39px 520px;
  }

  &__main {
    max-width: (564/1040)*100%;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__header {
    margin-bottom: 28px;

    @media (max-width: 950px) {
      br {display: none}
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__subheader {
    @media (max-width: 1100px) {
      br {display: none}
    }
  }

  &__btn-block {
    max-width: 290px;
    padding-top: 54px;

    @media (max-width: 768px) {
      padding-top: 36px;
    }
  }

  &__get-audit-btn {
    margin-bottom: 20px;
  }

  &__plus-calc {
    text-align: center;
  }

  &__pic {
    position: absolute;
    top: -9.8%;
    right: -1.7%;
    width: (672/1200)*100%;

    @media (max-width: 1100px) {
      width: (600/1200)*100%;
      top: 20px;
      br {display: none}
    }

    @media (max-width: 768px) {
      width: 136%;
      right: auto;
      top: auto;
      bottom: -8px;
      left: -22%;
    }
  }

  &__img-wrapper {

  }

  &__img {

  }
}

.s-get-audit {
  padding-top: 190px;
  padding-bottom: 35px;

  @media (max-width: 768px) {
    padding-top: 60px;
  }
}