mixin header-feature(icon, text)
  .header-feature
    .header-feature__icon
      +icon(icon)
    p.header-feature__text.futpt-normal-18-25.futpt-normal-18-25--tuna!= text

.header-features
  +header-feature('history', '<b>30 дней бесплатного теста</b> <br>без ограничений по <br>функциональности')
  +header-feature('piggybank', '<b>На 10-15% дешевле,</b> <br>чем у в других компаниях <br>за счет дисконта от <br>вендоров, с которыми <br>работаем с 2004 года')
  +header-feature('event', '<b>12 месяцев гарантии</b> <br>и круглосуточная <br>техническая поддержка в <br>любой точке России')