.quiz
  .container
    .quiz__content
      h2.quiz__title.futpt-demi-50-55 Плохо разбираетесь в программах? <br><span class="em-blue">Ответьте на 5 вопросов и получите</span>
      .quiz__heading-block#quiz-block
        .quiz__top-item
          .quiz__top-icon
            +icon('printer-2')
          .quiz__top-text.futpt-normal-18-25-tuna Подходящее ПО для вашей <br>инфраструктуры печати <br>и обоснование выбора
        .quiz__top-item
          .quiz__top-icon
            +icon('startup')
          .quiz__top-text.futpt-normal-18-25-tuna Расчет стоимости лицензии <br>и внедрения ПО
      .quiz__quiz-block.container
        include quiz-form