-
  var reviewsDataArray = [
    {
      title: 'Снизили расходы на печать <br>в АО «Кредит ЕвропаБанк»',
      pic: 'revpic.png',
      implementationPeriod: ['срок реализации', '2,5 недель'],
      tabs: {
        task: ['Повысить контроль над печатью, копированием и сканированием документов, снизить расходы на содержание и упростить обслуживание печатного оборудования', 'Повышена степень защиты конфиденциальной информации в соответствии с требованиями ЦБ РФ'],
        solution: ['Замена устаревшего парка принтеров и МФУ на лазерные устройства печати НР формата А3 нового поколения.', 'Внедрение решения для идентификации пользователей и удаленного управления инфраструктурой печати MyQ', 'Оптимизация расстановки печатющих устройств в офисах компании согласно реальной загрузке отделов.'],
        result: ['Общая экономия более 500,000 руб. в год', 'Уменьшение затрат на расходные материалы на 40%', 'Повышена степень защиты конфиденциальной информации <br>в соответствии с требованиями ЦБ РФ']
      }
    }
  ];