-
  var reviewsDataArray = [
    {
      title: 'Снизили расходы на печать <br>в АО «Кредит ЕвропаБанк»',
      pic: 'revpic.png',
      implementationPeriod: ['срок реализации', '2,5 недель'],
      tabs: {
        task: ['Общая экономия более <br>500,000 руб. в год', 'Уменьшение затрат на расходные материалы на 40%', 'Повышена степень защиты конфиденциальной информации в соответствии с требованиями ЦБ РФ'],
        solution: ['sdfsdf', 'sdfsfefdsvsefsdvdfv fdg sdg d d fg sdfg dfb df sg sdb dfbs b'],
        result: ['sdfsdf', 'sdfsfefdsvsefsdvdfv fdg sdg d d fg sdfg dfb df sg sdb dfbs b']
      }
    }
  ];