extends template/main

block variables
	- var title = 'Мастер-РМ | Общее';
	- var pageId = 'page-all';

block content
	include ./modules/header/header
	include ./modules/economy/economy
	include ./modules/how-it-works/how-it-works
	.dummy(style="height: 500px; background-color: #ccc")
	//- include ../modules/footer/footer