extends template/main

block variables
	- var title = 'Мастер-РМ | Общее';
	- var pageId = 'page-all';

block content
	include ./modules/header/header
	div(style="display: none")
		include ./modules/economy/economy
		include ./modules/how-it-works/how-it-works
	div(style="display: none")
	include ./modules/service/service
	.dummy(style="height: 500px; background-color: #ccc")
	//- include ../modules/footer/footer