extends template/main

block variables
	- var title = 'Мастер-РМ | Общее';
	- var pageId = 'page-all';
	- var yamaps = false;

block content
	include ./modules/header/header
	div(style="display: none")
		include ./modules/economy/economy
		include ./modules/how-it-works/how-it-works
		include ./modules/service/service
		include ./modules/modern-soft/modern-soft
		include ./modules/quiz/quiz
		include ./modules/weak-spots/weak-spots
		include ./modules/why-trust/why-trust
	include ./modules/reviews/reviews
	div(style="display: none")
		include ./modules/next-step/next-step
		include ./modules/footer/footer
	//- .dummy(style="height: 500px; background-color: #ccc")