.gilroy-bold-20-24 {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $white;
}

.futpt-medium-60-66 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 66px;  
  color: $white;

  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 45px;
  }

  @media (max-width: 400px) {
    font-size: 30px;
    line-height: 33px;
  }
}

.futpt-normal-18-25 {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: $white;

  &.futpt-normal-18-25--tuna {
    color: $tuna;
  }
}

.futpt-normal-24-34 {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $white;

  @media (max-width: 560px) {
    font-size: 20px;
    line-height: 140%;
  }
}

.futpt-normal-18-25-tuna {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: $tuna;

  b {
    font-family: 'Futura PT Demi';
    font-weight: 500;
  }
}

.futpt-demi-14-18 {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $white;
}

.futpt-demi-14-18--uppercase {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
}

.futpt-demi-50-55 {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  color: $tuna;

  &.futpt-demi-50-55--white {
    color: $white;
  }

  .em-blue {
    color: $royal-blue;
  }

  @media (max-width: 950px) {
    font-size: 40px;
    line-height: 44px;
  }

  // @media (max-width: 560px) {
  //   font-size: 35px;
  //   line-height: 40px;
  // }

  @media (max-width: 560px) {
    font-size: 30px;
    line-height: 33px;
  }
}

.futpt-demi-24-31 {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  color: $white;
}

.futpt-demi-24-31-tuna {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: $tuna;

  @media (max-width: 400px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.futpt-demi-18-25-tuna {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: $tuna;
}

.futpt-demi-32-38 {
  font-family: 'Futura PT Demi';
  font-weight: 500;
  color: $white;
  font-size: 32px;
  line-height: 38px;

  @media (max-width: 560px) {
    font-size: 24px;
    line-height: 120%;
  }

  &.tuna {
    color: $tuna;
  }
}