.header-logo {
  display: flex;
  
  &__logo {
    width: 88.5px;
    height: auto;
    margin-right: 26px;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &__descrition {
    font-size: 14px;
    line-height: 20px;
    color: $white;
    padding-top: 10px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}