-
  var infoSlideData = [
    {
      title: 'PaperCut',
      paragraphs: [
        'Простая установка менее, <br>чем за десять кликов с использованием стандартных очередей печати <br>и встроенных баз данных менее.',
        'Более 60 разных отчётов <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.',
        'Поддержка внешних терминалов, сторонних USB кард-ридеров, <br>интеграция с платёжными терминалами.'
      ]
    },
    {
      title: 'PaperCut 2',
      paragraphs: [
        'Простая установка менее, <br>чем за десять кликов с использованием стандартных очередей печати <br>и встроенных баз данных менее.',
        'Более 60 разных отчётов <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.',
        'Поддержка внешних терминалов, сторонних USB кард-ридеров, <br>интеграция с платёжными терминалами.'
      ]
    },
    {
      title: 'PaperCut 3',
      paragraphs: [
        'Простая установка менее, <br>чем за десять кликов с использованием стандартных очередей печати <br>и встроенных баз данных менее.',
        'Более 60 разных отчётов <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.',
        'Поддержка внешних терминалов, сторонних USB кард-ридеров, <br>интеграция с платёжными терминалами.'
      ]
    },
    {
      title: 'PaperCut 4',
      paragraphs: [
        'Простая установка менее, <br>чем за десять кликов с использованием стандартных очередей печати <br>и встроенных баз данных менее.',
        'Более 60 разных отчётов <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.',
        'Поддержка внешних терминалов, сторонних USB кард-ридеров, <br>интеграция с платёжными терминалами.'
      ]
    },
    {
      title: 'PaperCut 5',
      paragraphs: [
        'Простая установка менее, <br>чем за десять кликов с использованием стандартных очередей печати <br>и встроенных баз данных менее.',
        'Более 60 разных отчётов <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.',
        'Поддержка внешних терминалов, сторонних USB кард-ридеров, <br>интеграция с платёжными терминалами.'
      ]
    },
  ]