-
  var infoSlideData = [
    {
      title: 'MYQ',
      paragraphs: [
        'Удаленное <b>управление <br>печатью с помощью мобильных <br>устройств</b> на Android и iOS.',
        'Поддерживает <b>4000+ <br>различных устройств</b> <br>от 26 производителей',
        '<b>Не требует дополнительной <br>установки ПО</b> и настройки на <br>каждом компьютере'
      ]
    },
    {
      title: 'ysoft',
      paragraphs: [
        '<b>Печать с проверкой подлинности</b> <br>на принтере с любого 2D- и 3D- <br>устройства печати',
        '<b>Контроль доступа к печати</b> <br>в зависимости от состояния счета <br>пользователя',
        '<b>Предварительный просмотр <br>заданий</b> (job pre­views) и <br>просмотр списка работ'
      ]
    },
    {
      title: 'PrintX',
      paragraphs: [
        '<b>Максимальная совместимость</b> <br>с оборудованием и наличие Embedded для <br>большинства производителей техники',
        'Отечественный продукт, <br><b>защищенный от санкций</b>',
        '<b>Возможность развивать и дорабатывать</b> <br>продукт по потребности заказчика'
      ]
    },
    {
      title: 'PaperCut',
      paragraphs: [
        '<b>Простая установка</b> менее, <br>чем за десять кликов с использованием <br>стандартных очередей печати <br>и встроенных баз данных менее.',
        '<b>Более 60 разных отчётов</b> <br>в PDF, Excel, HTML по заданному расписанию с отправкой по email.',
        'Поддержка внешних терминалов, сторонних USB кард-ридеров, <br><b>интеграция с платёжными терминалами</b>.'
      ]
    },
    {
      title: 'HP',
      paragraphs: [
        'Программа способна генерировать <br>в формате PDF <b>более 300 различных <br>отчетов</b>',
        '<b>Работает с мобильными устройствами</b> <br>и позволяет им печатать документы в <br>форматах Office и PDF через <br>электронную почту.',
        '<b>Безопасная печать по запросу <br>в удаленном филиале</b> без установки <br>сервера на стороне конечного устройства'
      ]
    },
  ]