.economy {
  padding-top: 164px;
  
  @media (max-width: 400px) {
    padding-top: 75px;
  }

  &__title {
    margin-bottom: 63px;

    @media (max-width: 950px) {
      padding-left: 20px;
    }

    @media (max-width: 400px) {
      margin-bottom: 35px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 950px) {
      justify-content: center;
    }
  }

  &__left-side {
    flex: 0 1 620px;

    @media (max-width: 1100px) {
      margin-right: 20px;
    }

    @media (max-width: 400px) {
      margin-right: 0;
    }
  }

  &__right-side {
    flex: 0 0 386px;

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__title {
    max-width: 620px;
  }

  &__cards {
    max-width: 590px;
    margin: 0 auto !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      width: calc(50% - 10px);
    }

    @media (max-width: 576px) {
      display: block;
      // margin: 0;

      & > * {
        width: 100%;
      }
    }
  }
}

@import "economy-card";
@import "blue-columns";
@import "column-balloon";