include ../buttons/buttons

.s-get-audit
  .container
    .get-audit
      .get-audit__main
        h2.get-audit__header.futpt-demi-50-55 <span class="em-blue">Получите аудит</span> <br>инфраструктуры печати <br>вашей компании
        p.get-audit__subheader.futpt-normal-24-34-tuna Узнайте, сколько средств Вы сэкономите и <br>как быстро окупятся вложения
        .get-audit__btn-block
          .get-audit__get-audit-btn
            +turquoise-btn-72('получить аудит <br>и узнать экономию', 'get-audit-btn', '', true)
          .get-audit__plus-calc.futpt-demi-18-25-tuna + Расчет окупаемости
      .get-audit__pic
        .get-audit__img-wrapper
          img(src="static/images/general/get-audit-pic.png").get-audit__img