-
  var serviceData = {
    card_1: {
      heading: 'Поставим полную лицензию <br>и удаленно настроим ПО',
      texts: ['Специалисты удаленно настроят и протестируют работу <br>ПО, даже если Вы находитесь во Владивостоке'],
      iconBlock: [
        {
          icon: 'global',
          text: 'При необходимости отправим специалиста в <br>вашу компанию в любую точку России <br>для настройки на месте'
        }
      ]
    },
    card_2: {
      heading: 'Ваши сотрудники быстро <br>привыкнут к новому способу <br>печатать документы',
      iconBlock: [
        {
          icon: 'teacher',
          text: 'Обучаем сотрудников пользоваться ПО и <br>новым интерфейсом устройств <br>удаленно или на месте'
        },
        {
          icon: 'exam',
          text: 'Вы получите <b>понятные пошаговые <br>руководства</b> для штатных сотрудников <br>и администраторов компании'
        }
      ]
    },
    card_4: {
      heading: 'Вы получите год гарантии + <br>техническую поддержку',
      iconBlock: {
        icon: 'avatar',
        text: 'Специалисты 24 часа в сутки отвечают на <br>любые вопросы, связанные с системой, <br>и помогают удаленно решать технические <br>вопросы.'
      },
      subNotice: 'Вы никогда не останетесь один на <br>один с возникшей проблемой!'
    },
    card_3: {
      heading: '30 дней <br>бесплатного теста',
      texts: ['Предлагаем пилотный проект, в рамках которого <br>мы бесплатно внедрим в вашей компании систему <br>управления печатью.',
      'Вы сможете потестировать все функции в течение <br>месяца без ограничений и лично убедиться в <br>эффективности системы.'],
      
    },
    inputData: {
      type: 'tel',
      id: 'services-tel-input',
      classModifier: '64 input-field--simple-border input-field--white',
      placeholder: '+7 (___) ___-__-__'
    }
  }