label.srvice-accept-conf
  input(type="checkbox" name="accept-conf" checked).srvice-accept-conf__checkbox
  .srvice-accept-conf__icon.srvice-accept-conf__icon--on
    +icon('check-square')
  .srvice-accept-conf__icon.srvice-accept-conf__icon--off
    +icon('ion-checkbox-outline')
  .srvice-accept-conf__text Согласен с Политикой конфиденциальности сайта