.header-features {
  min-height: 313px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  & > * {
    width: 23.75%;

    @media (max-width: 1200px) {
      width: 285px;
      margin-bottom: 30px;
      margin-right: 20px;
    }

    @media (max-width: 400px) {
      width: 100%;
      margin-right: 0;
    }
  }
}

#page-security .header-features {
  justify-content: flex-start;

  & > * {
    width: 23.75%;
    margin-right: 20px;

    @media (max-width: 1200px) {
      width: 285px;
      margin-bottom: 30px;

    }

    @media (max-width: 400px) {
      width: 100%;
      margin-right: 0;
    }
  }
}

@import "header-feature";
