.popup-hidden {
  display: none;
}

.fancybox-content {
  padding: 0 !important;
}

.popup {
  // display: none;
  position: relative;

  height: auto;
  width: 100%;
  background: $white;
  border-radius: 20px;

  @media (max-width: 1000px) {
    border-radius: 0;
  }

  &__title {
    font-family: 'Futura PT Demi';
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #333333;

    .em-blue {
      color: $royal-blue;
    }

    @media (max-width: 1000px) {
      font-size: 30px;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 28px;
    z-index: 30;

    @media (max-width: 1000px) {
      right: 25px;
    }
  }
}

.popups {
  background-color: #cacaca; // temp
}

.popup-container {
  width: 995px;

  @media (max-width: 1000px) {
    width: 100%;
    max-width: 375px;
  }
}

.datepicker {
  width: 100% !important;
}

.popup-mb20 {
  margin-bottom: 20px;
}

.popup-mb42 {
  margin-bottom: 42px;
}

@import "choose-time-radio";
@import "popup-photo";
@import "time-field";
@import "free-test";
@import "find-places";
@import "get-presentation";
@import "popup-questionnaire";