.popup-photo {
  display: flex;
  justify-content: flex-end;
  //background-color: rgba(211, 94, 187, 0.2);

  &__inner {
    width: (580/995)*100%;
    padding: 84px 100px 48px 82px;
    //background-color: rgba(107, 241, 187, 0.2);
    outline: 1px dashed green;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__form {
    padding-top: 62px;
  }

  &__choose-time-radio {
    margin-bottom: 26px;
  }
}