.popup-photo {
  display: flex;
  justify-content: flex-end;
  
  @media (max-width: 1000px) {
    display: block;
  }

  &__inner {
    width: (580/995)*100%;
    padding: 84px 100px 48px 82px;
    
    @media (max-width: 1000px) {
      width: 100%;
      padding: 102px 20px 28px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media (max-width: 1000px) {
      padding-left: 8px;
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #33363E;

    @media (max-width: 1000px) {
      br {display: none}
      font-size: 20px;
      display: flex;
      align-items: center;
    }
  }

  
  &__little-pic {
    display: none;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    margin-right: 22px;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  &__form {
    padding-top: 62px;

    @media (max-width: 400px) {
      padding: 39px 8px;
    }
  }

  &__choose-time-radio {
    margin-bottom: 26px;
  }

  &__submit-btn {
    margin-bottom: 30px;
  }

  

  &__pic-block {
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    flex: 1 1 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: url('../images/general/apetrov_big.jpg') center no-repeat;

    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;

      background: linear-gradient(360deg, #166FEB 0%, rgba(22, 111, 235, 0) 49.93%);
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__name {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
  }

  &__position {
    position: relative;
    z-index: 10;
    margin-bottom: 40px;
  }
}