.popup {

  position: relative;
  width: 100%;
  background: $white;
  border-radius: 20px;

  &__title {
    font-family: 'Futura PT Demi';
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #333333;

    .em-blue {
      color: $royal-blue;
    }
  }

  &__subtitle {
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #33363E;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 28px;
  }
}

.popups {
  background-color: #cacaca; // temp
}

.popup-container {
  width: 995px;
  margin: 0 auto; // temp
}

.datepicker {
  width: 100% !important;
}

.popup-mb20 {
  margin-bottom: 20px;
}

@import "choose-time-radio";
@import "popup-photo";
@import "time-field";