.reviews {
  padding-top: 316px;
  background: url(../images/general/reviews-bg.svg) center top 150px / 100% auto no-repeat;

  &__content {

  }

  &__top {

  }

  &__bottom {
    padding-top: 178px;
  }
}

@import "reviews-top";
@import "reviews-bottom";
@import "rev-block";
@import "rev-block-slide";
@import "reviews-slide-tabs";
@import "revies-tab-item";
@import "audio-cards";