.choose-time-radio
  .choose-time-radio__heading Выберите удобное время звонка
  .choose-time-radio__line
    .choose-time-radio__btn
      label
        input(type="radio" name="Choose-time" value="Сейчас" checked)
        .choose-time-radio__pimp
        span.choose-time-radio__text.futpt-normal-18-25-tuna Сейчас
    .choose-time-radio__btn
      label
        input(type="radio" name="Choose-time" value="Ко времени")
        .choose-time-radio__pimp
        span.choose-time-radio__text.futpt-normal-18-25-tuna Ко времени