footer.footer
  .container
    .footer__title.futpt-demi-50-55.futpt-demi-50-55--white Либо приезжайте к нам в гости <br>и мы обсудим все с глазу на глаз
    .footer__subtitle.futpt-normal-24-34 Мы находимся недалеко от м. Нижегородская <br>в бизнес-центре «Смирновский»
    .footer__middle-line
      .footer__map#yaMap
      .footer__info
        .footer__address-block
          .footer__address.footer-address
            .footer-address__icon
              +icon('map-pin')
            span.footer-address__text.futpt-normal-18-25 г. Москва, ул.Смирновская, д.25, стр.10
          .footer__address.footer-address
            .footer-address__icon
              +icon('map-pin')
            span.footer-address__text.futpt-normal-18-25 г. Санкт-Петербург, Малый проспект Петроградской стороны, д. 36-38
          .footer__address.footer-address
            .footer-address__icon
              +icon('clock')
            span.footer-address__text.futpt-normal-18-25 Пн-Пт с 09:00 до 18:30 <br>Сб-Вс Выходной
        .footer__phone-block
          .phone-block
            .phone-block__phone-icon 545345
            .phone-block__contacts
              .phone-block__phone 8 (495) 916-64-64 <span>(доб.120)</span>
              .phone-block__mail a.petrov@master-rm.ru
        p.footer__additional-info ООО «Мастер-РМ» <br>ИНН 7721755900 <br>КПП 772101001 <br>ОГРН 1127746299780
    .footer__bottom-line